body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
==================
navigation
==================
*/

.navigation {
  position: fixed;
  display: none;
  top: 0;
  margin: 0;
  left: 0;
  right: -100%;
  z-index: 1000;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(
    0.45turn,
    #cf0494,
    #e21d67,
    #ed2c4b,
    #fa3d2f,
    #ff4422
  );
  transition: all 0.2s ease-in;
}

.interaction {
  padding-top: 0.1rem;
  position: fixed;
  top: 0;
  box-shadow: 5px 4px 8px #eee;
  width: 100%;
  height: 3rem;
  background-color: #fff;
  z-index: 10;

  > :nth-child(2) {
    position: relative;
  }

  > :nth-child(2):before {
    content: "";
    width: 1px;
    background-color: #eee;
    position: absolute;
    height: 100%;
  }

  > :nth-child(2):after {
    content: "";
    width: 1px;
    background-color: #eee;
    position: absolute;
    height: 100%;
    left: 0;
  }
}
.logo {
  clear: both;
  position: absolute;
  top: 0;
  background-color: black;
  height: 100%;
}
.logo-img {
  margin: 0.8rem;
  width: 5rem;
  height: 1rem;
}

.search {
  float: right;
  width: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  height: 100%;
  top: 0;

  > * {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.menu-toggle {
  color: #ff4422;
}

.search-btn {
  font-weight: 700;
  color: #bebebe;

  :hover {
    color: #808080;
  }
}

.hamburger-open {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}
.top-nav {
  clear: both;
  display: flex;
  flex-direction: column;
}
.top-social-icons {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #c6c3c3;
  border-top: 1px solid #c6c3c3;
  position: relative;
  padding: 15px 150px 8px 25px;

  > * {
    font-weight: normal;
    font-size: 1.4rem;
    color: #fff;
  }
}

.header-nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 80%;
  padding-left: 2rem;
  padding-right: 2rem;

  h5 {
    font-family: sans-serif;
    font-size: 1.14rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
  }

  li {
    margin-bottom: 1rem;
  }
  a {
    text-decoration: none;
    text-transform: capitalize;
    color: #ffffff99;
    line-height: 1rem;
    font-family: Helvetica, sans-serif;
    font-size: 1.14rem;
  }
}

/* main section*/

main {
  margin-top: 4rem;
}
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.articles {
}
header {
  width: 100%;
  border: 2px solid seagreen;
  margin-bottom: 4rem;
  position: relative;
}
.articles__background {
  background: #a18c8c url(../images/tnw2020-feature.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 50%;
  position: absolute;
  height: 9rem;
  width: 100%;
}
