/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow-x: hidden;
  width: 100%;
}

// /*
// ==================
// navigation
// ==================
// */

.navigation {
  position: fixed;
  display: none;
  top: 0;
  margin: 0;
  left: 0;
  right: -100%;
  z-index: 1000;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(
    0.45turn,
    #cf0494,
    #e21d67,
    #ed2c4b,
    #fa3d2f,
    #ff4422
  );
}

.interaction {
  border: 1px solid salmon;
  background: salmon;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  padding-top: 0;
}

.logo {
  background: #111;
  height: 100%;

  &-img {
    width: 6rem;
    height: 1rem;
  }
}

.logo,
.search {
  display: flex;
  align-items: center;
}

.search {
  background: teal;
  flex-basis: 20%;
  justify-content: space-around;
}
/*
// .interaction {
//   padding-top: 0.1rem;
//   position: fixed;
//   top: 0;
//   box-shadow: 5px 4px 8px #eee;
//   width: 100%ffffffffffffffffffffffffffffffffffffffffff;
//   height: 3rem;
//   backgf
//   z-index: 10;

//   > :nth-c
//h>h>hposition: r
//   }

//   > :n
//  babcortent-c'';
//     width: absoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteolute;
//     
//}s}s}positio
//iiic heitct
//   }

//   >d:n: 1px;
//     content: '';r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;
//     wiith: absoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteolute;
//     backgr0u%d-colo
//     posit
//}i}i}heitct
//fffs left: 
//   }{{{{{{{{{{{{{{{{{{{{{
// }
// .logo {
//   clear: both;
//   position: a soaute
//   top: 111%11%11%11%11%10%11%10%11%11%11%00%00%00%00%00%00%00%00%00%00%;
//   background-color: black;
//   height: 100%;
// }rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;
// .logo-img {
//   marginre0.8
//   width: 5
//   height: 1rem;
// }

// .sea:r8rem;m;m;m;m;m;m;m;m;m;m;m;m;m;m;m;m;m;m;m;m;
//dddfloytffright;
//   width: 5
//   
//   juityfy-
//   ali1--
//   font-iiye:
//   height1-1
//   top: 0;

//   > * {
//     height: 1  %;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;
//}}}}}display: flex;
//iiiiialtgn-
//   }
// }

// .men
//  f;
// }

// .search-btn {
//   font-weight: 
//   color: #bebebe;

//   :hover {
//     
//   }
// }n t10:;10px;
px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;
// .hrmffffff
//   flo-t: rz0
//   miigi: bold;
//   srr
//   colo:
//   fonsrsear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;
//   font-we:ghex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;
// }directioneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumn: column;
// .toa-yav {
//   cll--
//   disala : 
//   flex-
// }
// .1op so1iappp8px225px
//   eisp
//   juspify
//   boree
//   borderpto
//   positien
//   padding: p

//   > * {
//     font-weight: normal
//}    font-size: 1.4rem;
//l    color: #fff;
//   }
// }

// .heafy-contyot: spnceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ce-between;
//m  disploy: 2lex;
//   justif%
//   dirgeleff
//   width: 8ht: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem;
//   pandrn
//   paddnng-rig

//   h5 {size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;
//ttt  font-fsmily: saps-serif;
//     font-fff
//     gin-bo-
//     color: 
//     ma
//   }

//   ul {
//amamalist-style: none;
//   }

//   l
//  
//   }
//   ai
//    fte
//   fitz
//    fcofnr
//   fili-z-
//    ffnnt-fam
//    ffoit--z
//   }
// }

// /* main section*/

// main {
//   margin-top: 4rem;
//   background:
//   w
//   marginonnnn
// /i}
// /
// /i .manp c
// /
//   /i dp
//   /
//   /i alig
//   /u b
//   / wwidth: px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;
// ei/ jjust
// }
// ghp;
// .hide0{
// nn
//   widthiddendendendendendendendendendendendendendendendendendendenden;
//   hect(0,(0, 0,(0),(0, 0),(0, 0),(0, 0),(0, 0),(0, 0),(0, 0),(0, 0),(0, 0),(0, 0),(0, 0),(0, 0),(0, 0),(0, 0),(0, 0),(0, 0),(0, 0),(0, 0), 0, 0), 0, 0);
//   padding:
//   magg
//   lv {flow:d
//    {ip:mg
//   blwi {hh0
// }
// .grtiboes {ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;ttom: 0.5rem;
//   bo-leff: ..5remememememememememememememememememememem;
//   heode
//    t//9
//    smaroin ou;o
//    amatgi
//  ///positnon0 auto;
//o   hheaght

//   }
// }

// .articles__background {peat;peat;peat;peat;peat;peat;peat;peat;peat;peat;peat;peat;peat;peat;peat;peat;peat;peat;peat;peat;peat;
//  cbackground: #a18c8c url(../images/t;;;;;;;;
//   background-repeat: no-repeat
//   backnround-size: cover;
//   backgroum
//   posi100%
//   height: 9
//   width:
// }
// exexratrsnsforf:
//tialr
//
//   to
//   m

//   h5t{
//
// cccrf-nt-size:{0.87rem cr#or
//o} }
// xeoccir-r:#
//  }

//  xh2eai{
//
//   txfone-i
//
//    ttext-dec
//   }
// }

// .articles-author {
//   color: #ffffff99;
//   font-familyrea;ial
//   linh4h04004001rem
//   font-size: 0.8r
//   font-wmighten400;
//   display: flex;
//   align-items: center;

//   a {
//
//   cccolo
//   }
//   a:focus,ite;ite;ite;ite;ite;ite;ite;ite;ite;ite;ite;ite;ite;ite;ite;ite;ite;ite;ite;ite;ite;
//   a:hover {
//   aacolo
//   }
// }

// .author-icon {
//   font-size: 1.2rem;
//   margin-left: 0.2rem;
//   margin-right:;0.2re
// }

// .
// tilb;labs
//   bgckgm
//   b100%
//   backg
//   posifo-middle {ddle {ddle {ddle {ddle {ddle {ddle {ddle {ddle {ddle {ddle {ddle {ddle {ddle {ddle {ddle {ddle {ddle {ddle {ddle {
//   height: 9splay: flex;splay: flex;splay: flex;splay: flex;splay: flex;splay: flex;splay: flex;splay: flex;splay: flex;splay: flex;splay: flex;splay: flex;splay: flex;splay: flex;splay: flex;splay: flex;splay: flex;splay: flex;splay: flex;splay: flex;
//   width: flexeenn;
// }6r
// .articles-i
//ddddi
//   align-it0m
//bbbtdp d
//   //
// }
//  99em;h;e1ee;;m
// .ar;
//  9rem;h: 100%;m;e;e;

//   b 9rem;
// h: 100%;m
//   back 9rem;
//   ph: 100%;m
//   height: 9rem
//   width: 100%;
// }
