<<<<<<< HEAD
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
=======
body {
  overflow-x: hidden;
  background-color: teal;
}

body * {
>>>>>>> d56ea9e34928f5cb7fa0d2729c8c5af42c3f75f9
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

<<<<<<< HEAD
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.navigation {
  position: fixed;
  display: none;
  top: 0;
  margin: 0;
  left: 0;
  right: -100%;
  z-index: 1000;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(0.45turn, #cf0494, #e21d67, #ed2c4b, #fa3d2f, #ff4422);
}

.interaction {
  border: 1px solid salmon;
  background: salmon;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0;
}

.logo {
  background: #111;
  height: 100%;
}

.logo-img {
  width: 6rem;
  height: 1rem;
}

.logo,
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search {
  background: teal;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*
// .interaction {
//   padding-top: 0.1rem;
//   position: fixed;
//   top: 0;
//   box-shadow: 5px 4px 8px #eee;
//   width: 100%ffffffffffffffffffffffffffffffffffffffffff;
//   height: 3rem;
//   backgf
//   z-index: 10;

//   > :nth-c
//h>h>hposition: r
//   }

//   > :n
//  babcortent-c'';
//     width: absoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteolute;
//     
//}s}s}positio
//iiic heitct
//   }

//   >d:n: 1px;
//     content: '';r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;r: #eee;
//     wiith: absoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteoluteolute;
//     backgr0u%d-colo
//     posit
//}i}i}heitct
//fffs left: 
//   }{{{{{{{{{{{{{{{{{{{{{
// }
// .logo {
//   clear: both;
//   position: a soaute
//   top: 111%11%11%11%11%10%11%10%11%11%11%00%00%00%00%00%00%00%00%00%00%;
//   background-color: black;
//   height: 100%;
// }rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;rgin: 0.8rem;
// .logo-img {
//   marginre0.8
//   width: 5
//   height: 1rem;
// }

// .sea:r8rem;m;m;m;m;m;m;m;m;m;m;m;m;m;m;m;m;m;m;m;m;
//dddfloytffright;
//   width: 5
//   
//   juityfy-
//   ali1--
//   font-iiye:
//   height1-1
//   top: 0;

//   > * {
//     height: 1  %;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;ter;
//}}}}}display: flex;
//iiiiialtgn-
//   }
// }

// .men
//  f;
// }

// .search-btn {
//   font-weight: 
//   color: #bebebe;

//   :hover {
//     
//   }
// }n t10:;10px;
px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;px;
// .hrmffffff
//   flo-t: rz0
//   miigi: bold;
//   srr
//   colo:
//   fonsrsear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;ear: both;
//   font-we:ghex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;ex;
// }directioneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumneccilumn: column;
// .toa-yav {
//   cll--
//   disala : 
//   flex-
// }
// .1op so1iappp8px225px
//   eisp
//   juspify
//   boree
//   borderpto
//   positien
//   padding: p

//   > * {
//     font-weight: normal
//}    font-size: 1.4rem;
//l    color: #fff;
//   }
// }

// .heafy-contyot: spnceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ceebetwee:;ce-between;
//m  disploy: 2lex;
//   justif%
//   dirgeleff
//   width: 8ht: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem: 2rem;
//   pandrn
//   paddnng-rig

//   h5 {size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;size: 1.14rem;
//ttt  font-fsmily: saps-serif;
//     font-fff
//     gin-bo-
//     color: 
//     ma
//   }

//   ul {
//amamalist-style: none;
//   }

//   l
//  
//   }
//   ai
//    fte
//   fitz
//    fcofnr
//   fili-z-
//    ffnnt-fam
//    ffoit--z
//   }
// }

// /* main section*/
=======
/*
==================
navigation
==================
*/
/* main section*/
.section-1 {
  background: green;
}
>>>>>>> d56ea9e34928f5cb7fa0d2729c8c5af42c3f75f9
/*# sourceMappingURL=main.css.map */