

body {
  overflow-x: hidden;
}

// /*
// ==================
// navigation
// ==================
// */

.navigation {
  position: fixed;
  display: none;
  top: 0;
  margin: 0;
  left: 0;
  right: -100%;
  z-index: 1000;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(
    0.45turn,
    #cf0494,
    #e21d67,
    #ed2c4b,
    #fa3d2f,
    #ff4422
  );
}

.interaction {
  border: 1px solid salmon;
  background: salmon;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  padding-top: 0;
}

.logo {
  background: #111;
  height: 100%;

  &-img {
    width: 6rem;
    height: 1rem;
  }
}

.logo,
.search {
  display: flex;
  align-items: center;
}

.search {
  background: teal;
  flex-basis: 20%;
  justify-content: space-around;
}


// .search-btn {
//   font-weight: 
//   color: #bebebe;

 
  // background: red;
  // width: 28rem;
  // margin-left: .5rem;
  
  
 
  

  
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  






// .hide {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   padding: 0;
//   margin: -1px;
//   overflow: hidden;
//   clip: rect(0, 0, 0, 0);
//   border: 0;
// }
// .articles {
//   border: 1px solid green;
//   header {
//     // width: 100%;
//     margin-bottom: 0.5rem;
//     margin-left: 0.5rem;
//     position: relative;
//     height: 9rem;
//     // margin: 0 auto;
//   }
// }

// .articles__background {
//   background: #a18c8c url(../images/tnw2020-feature.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: 40% 50%;
//   position: absolute;
//   height: 9rem;
//   width: 100%;
// }

// .articles-info {
//   position: absolute;
//   top: 4.7rem;
//   margin-left: 1rem;

//   h5 {
//     font-family: sans-serif;
//     font-size: 0.875rem;
//     text-transform: uppercase;
//     color: #fff;
//   }

//   h2 a {
//     font-family: sans-serif;
//     font-size: 1.25rem;
//     color: #fff;
//     text-decoration: none;
//   }
// }

// .articles-author {
//   color: #ffffff99;
//   font-family: arial;
//   line-height: 1rem;
//   font-size: 0.8rem;
//   font-weight: 400;
//   display: flex;
//   align-items: center;

//   a {
//     text-decoration: none;
//     color: #ffffff99;
//   }
//   a:focus,
//   a:hover {
//     color: white;
//   }
// }

// .author-icon {
//   font-size: 1.2rem;
//   margin-left: 0.2rem;
//   margin-right: 0.2rem;
// }

// .articles__background-1 {
//   background-image: url(../images/tnw2020.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: 40% 50%;
//   position: absolute;
//   height: 9rem;
//   width: 100%;
// }
// .articles-info-middle {
//   display: flex;
//   align-items: flex-end;
//   top: 6rem;
//   // bottom: 0;
// }

// .articles__background-2 {
//   background-image: url(../images/dgp.jpg);

//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: 40% 50%;
//   position: absolute;
//   height: 9rem;
//   width: 100%;
// }


