body {
  overflow-x: hidden;
  width: 100%;
  background-color: teal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
==================
navigation
==================
*/
.interaction {
  padding-top: 0.1rem;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 5px 4px 8px #eee;
          box-shadow: 5px 4px 8px #eee;
  width: 100%;
  height: 3rem;
  background-color: #fff;
  z-index: 10;
}

.interaction > :nth-child(2) {
  position: relative;
}

.interaction > :nth-child(2):before {
  content: '';
  width: 1px;
  background-color: #eee;
  position: absolute;
  height: 100%;
}

.interaction > :nth-child(2):after {
  content: '';
  width: 1px;
  background-color: #eee;
  position: absolute;
  height: 100%;
  left: 0;
}

.logo {
  clear: both;
  position: absolute;
  top: 0;
  background-color: black;
  height: 100%;
}

.logo-img {
  margin: 0.8rem;
  width: 5rem;
  height: 1rem;
}

.search {
  float: right;
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  height: 100%;
  top: 0;
}

.search > * {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-toggle {
  color: #ff4422;
}

.search-btn {
  font-weight: 700;
  color: #bebebe;
}

.search-btn :hover {
  color: #808080;
}

.hamburger-open {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

.top-nav {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid #c6c3c3;
  border-top: 1px solid #c6c3c3;
  position: relative;
  padding: 15px 150px 8px 25px;
}

.top-social-icons > * {
  font-weight: normal;
  font-size: 1.4rem;
  color: #fff;
}

.header-nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  width: 80%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header-nav-links h5 {
  font-family: sans-serif;
  font-size: 1.14rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1rem;
}

.header-nav-links ul {
  list-style: none;
}

.header-nav-links li {
  margin-bottom: 1rem;
}

.header-nav-links a {
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff99;
  line-height: 1rem;
  font-family: Helvetica, sans-serif;
  font-size: 1.14rem;
}

/* main section*/
main {
  margin-top: 4rem;
  background: rebeccapurple;
  width: 100%;
  margin: 0 auto;
}

.main section {
  border: 1px solid red;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.articles {
  border: 1px solid green;
}

.articles header {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  position: relative;
  height: 9rem;
}

.articles__background {
  background: #a18c8c url(../images/tnw2020-feature.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 50%;
  position: absolute;
  height: 9rem;
  width: 100%;
}

.articles-info {
  position: absolute;
  top: 4.7rem;
  margin-left: 1rem;
}

.articles-info h5 {
  font-family: sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #fff;
}

.articles-info h2 a {
  font-family: sans-serif;
  font-size: 1.25rem;
  color: #fff;
  text-decoration: none;
}

.articles-author {
  color: #ffffff99;
  font-family: arial;
  line-height: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles-author a {
  text-decoration: none;
  color: #ffffff99;
}

.articles-author a:focus,
.articles-author a:hover {
  color: white;
}

.author-icon {
  font-size: 1.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.articles__background-1 {
  background-image: url(../images/tnw2020.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 50%;
  position: absolute;
  height: 9rem;
  width: 100%;
}

.articles-info-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  top: 6rem;
}

.articles__background-2 {
  background-image: url(../images/dgp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 50%;
  position: absolute;
  height: 9rem;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */